table,th,td{
    border: 1px solid black;
    text-align: left;
    border-style:inset;
}
td:hover{
    background-color: tan;
}
th:hover{
    background-color:navajowhite;
}

.done{
    color:green;
}
.extended{
    color: red;
}
.due{
    color:orangered;
}
.css-serial{
    counter-reset: serial-number;
}
.css-serial td:first-child:before{
    counter-increment: serial-number;
    content: counter(serial-number);
}